.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  width: 250px;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px rgb(230,230,230) solid;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.card img{
  width: 200px;
}

.card p{
  color: darkgrey;
  font-size: 16px;
}
